@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-size: 64px;
    padding: 10px;
    text-align: center;
    display: block;
	font-style: normal;
	line-height: 1;

}.flaticon-barrel:before {
	content: "\e000";
}
.flaticon-bio1:before {
	content: "\e001";
}
.flaticon-bio3:before {
	content: "\e002";
}
.flaticon-bolt1:before {
	content: "\e003";
}
.flaticon-cowboy5:before {
	content: "\e004";
}
.flaticon-earth16:before {
	content: "\e005";
}
.flaticon-eco37:before {
	content: "\e006";
}
.flaticon-eco6:before {
	content: "\e007";
}
.flaticon-eco7:before {
	content: "\e008";
}
.flaticon-energy2:before {
	content: "\e009";
}
.flaticon-green3:before {
	content: "\e00a";
}
.flaticon-oil:before {
	content: "\e00b";
}
.flaticon-oil5:before {
	content: "\e00c";
}
.flaticon-renewable:before {
	content: "\e00d";
}
.flaticon-solar2:before {
	content: "\e00e";
}
.flaticon-wheelbarrow1:before {
	content: "\e00f";
}
.flaticon-wind17:before {
	content: "\e010";
}
.flaticon-wind2:before {
	content: "\e011";
}
.flaticon-world7:before {
	content: "\e012";
}
.flaticon-world8:before {
	content: "\e013";
}
